// Write your styles here
$img-width: (
        '[alt="experts"]': 33%,
        '[alt="content formats"]': 32%,
        '[alt="certificate"]': 35%,
);
img {

  @each $alt, $interest in $img-width {

    &#{$alt} {
      width: $interest;
    }
  }
}
@mixin button {
  font: {
    weight: 500;
    size: 1.2vw;
    family: $sourse-sans-font;
  }
  background-color: $bg-button;
  border:none;
  padding: 0.8vw 2.9vw;
  color: #fff;
  cursor: pointer;
}
@mixin link($color, $font-size) {
  color: $color;
  font-size: $font-size;
  font-family: $sourse-sans-font;
}
@mixin after-word($width, $height) {
  background: $bg-after-word;
  content: "";
  z-index: -1;
  position: absolute;
  width: $width;
  height: $height;
}
body {
  margin: 0;
  background: $body-bg;
}
header {
  background: $bg-header 0 50% no-repeat;
  background-size: cover;
  border-radius: 0 0 40% 0 / 40%;

  .header-wrap {
    margin: 0 10vw 0 10vw;
    width: 50%;

    .header_text {
      font: {
        family: $hind-to-fresca-font;
        size: 1.07vw;
      }
      color: $color-header;
      white-space: pre-line;
      line-height: 1.6vw;
      margin-top: 2vw;
      margin-bottom: 6vh;
    }
    .header_button {
      @include button;
      margin: {
        top: 2.5vw;
        bottom: 11.5vw;
      }
    }
    a {
      margin-left: 9.7vw;
      @include link(#fff, 1.3vw);
    }
  }
  .header_heading {
    font: {
      size: 4.7vw;
      family: $sourse-sans-font;
      weight: 700;
    }
    color: $color-header;
    letter-spacing: -0.04vw;
    line-height: 4.7vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    z-index: 100;
    position: relative;
    &:after {
     @include after-word(19.5vw, 3.3vw);
      top: 6vw;
      left: 0;

    }
  }
}
.landing-logo {
  display: flex;
  color: $color-header;

  span {
    font: {
      size: 0.7vw;
      weight: 500;
    }
    display: block;
    line-height: 2vw;
    text-align: center;
  }
  img {
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
  }
  p {
    font: {
      size: 1.5vw;
      weight: 600;
      family: $hind-to-fresca-font;
    }
    margin-left: 1vw;
    line-height: 0.7vw;
  }
}
main {
  .section_text {
    font: {
      size: 2.7vw;
      family: $sourse-sans-font;
      weight: 600;
    }
    color: $color-header;
    margin-top: 2.4vw;
    text-align: center;
    position: relative;
    &::after {
      @include after-word(12vw, 3.3vw);
      right: 37.3%;
      bottom: 0.5vw;
    }
  }
  .section_card {
    @extend footer;
    text-align: center;
    display: flex;
    width: 58.5vw;
    height: 17.5vw;
    margin: 0 auto 2.4vw auto;
    border-radius: 0.4vw;

    .section_card_img {
      padding: 1.2vw;
      border-radius: 1.5vw;
    }
    .section_card_heading {
      font: {
        size: 1.6vw;
        family: $sourse-sans-font;
      }
      color: #fff;
      margin-top: 0;
      padding-right: 2vw;
    }
    .section_card_text {
      color: #c0c3ce;
      font: {
        size: 1.08vw;
        family: $hind-to-fresca-font;
      }
      width: 75%;
      margin: 0 auto;
      text-align: justify;
      letter-spacing: -0.3px;
      line-height: 1.6vw;
    }
    .section_card_right_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
    }
    .section_link {
      @include link(#c0c3ce, 1.08vw);
      padding-right: 2vw;
      margin-top: 0.5vw;
    }
  }
  .section_banner {
    display: flex;
    position: relative;
    background: $gradient-color;
    top: 5vw;
    margin: 4vw auto 0 auto;
    width: 62vw;
    height: 9.5vw;
    border-radius: 0.4vw;
    justify-content: space-around;
    align-items: center;
  }
  .section_banner_heading {
    color: $color-header;
    font: {
      size: 2vw;
      family: $sourse-sans-font;
      weight: 700;
    }
    letter-spacing: -0.01vw;
    margin: 0;
    z-index: 2;
    position: relative;
    &::after {
      @include after-word(4vw, 3.3vw);
      left: 8vw;
      bottom: 0;
    }
  }
  .section_banner_text {
    color: #c0c3ce;
    font: {
      family: $hind-to-fresca-font;
      size: 1vw;
    }
    letter-spacing: 0.02vw;
  }
  .section_banner_button {
    @include button
  }
}
footer {
  background: $blue-bg;
}
.footer-wrap {
  color: #c0c3ce;
  display: flex;
  justify-content: space-between;
  margin: 0 10vw 0 10vw;
  align-items: center;
  height: 17vw;
  box-sizing: border-box;
  padding-top: 4vw;

  .footer_logo {
    color: #c0c3ce;
  }
  .footer_text {
    font: {
      family: $hind-to-fresca-font;
      size: 0.9vw;
    }
    width: 25%;
  }
  .footer-cr {
    font: {
      family: $hind-to-fresca-font;
      size: 1vw;
    }
    letter-spacing: 0.02vw;
  }
}

