$bg-header: url("../img/m-h-night.jpg");
$color-header: #fff;
$bg-after-word: #ff4e33;
$body-bg: #21232e;
$blue-bg: #3b3f50;
$bg-button: #e3ac00;
$gradient-color: linear-gradient(90deg, #dda107, #963250 );
$sourse-sans-font: 'Source Sans Pro', sans-serif;
$hind-to-fresca-font: 'Fresca', sans-serif;