$bg-header: url("../img/m-h-day.jpg");
$color-header: #2c2f3c;
$bg-after-word: #14a0c7;
$body-bg: #fff;
$blue-bg: #21232e;
$bg-button: #699900;
$gradient-color: linear-gradient(90deg, #649411, #2e5cd4 );
$sourse-sans-font: 'Source Sans Pro', sans-serif;
$hind-font: 'Hind', sans-serif;
$freska-font: 'Fresca', sans-serif;
